{% extends 'base.html' %}

{% block title %}edit{% endblock %}

{% block headline %}{% endblock %}

{% block content %}
<input type="hidden" id="saveTitle" value="">
<input type="hidden" id="savePlayer_health" value="">
<input type="hidden" id="saveDescription" value="">
<script>
    var titlevalue = () => {
        return $("#lbltitle").val()
    }
    $("#saveLevel").click(() => {
        $("#saveTitle").val(titlevalue())
        $("#savePlayer_health").val()
        $("#saveDescription").val()


        window.location.href = `/save_level/build/${$("#saveTitle").val()}/${$("#savePlayer_health").val()}/${$("#saveDescription").val()}`
    })
</script>
<div class="col-sm">
    <p>Title: <input type="text" id="lbltitle"></p>
    <div>
        <div>Monster</div>
        <div>Wall</div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Items
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Destory wall
        </label>
    </div>
</div>
<div class="col-sm" style="height: 500px;">
    <canvas id="myCanvas" width="800" height="400"></canvas>
</div>
<input type="hidden" value="" id="inputtitle">
<button type="button" class="btn btn-primary m-5" id="saveLevel">Spara bana</button>
<script>
    $(document).ready(() => {
        //Canvas
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var tileSize = 20;
        var canvasHeight = canvas.height/tileSize
        var canvasWidth = canvas.width/tileSize

        //Player
        var playerHeight = tileSize;
        var playerWidth = tileSize;
        var playerArray = [];

        //Position class for objects
        class Position {
            constructor(x, y) {
                this.x = x;
                this.y = y;
            }
            getX() {
                return this.x;
            }
            getY() {
                return this.y;
            }
            setX(x) {
                this.x = x;
            }
            setY(y) {
                this.y = y;
            }
        }

        //Player
        function drawPlayer(playerX, playerY) {
            ctx.beginPath();
            ctx.rect(playerX, playerY, playerWidth, playerHeight);
            ctx.fillStyle = "#046cd4";
            ctx.fill();
            ctx.closePath();
        }

        //Grid
        function drawGrid() {
            ctx.strokeStyle = '#cccccc';
            ctx.stroke();
            for (var i = 0; i <= canvas.width; i += tileSize) {
                ctx.beginPath();
                ctx.moveTo(i, 0);
                ctx.lineTo(i, canvas.height);
                ctx.stroke();
                ctx.closePath();
            }

            for (var i = 0; i <= canvas.height; i += tileSize) {
                ctx.beginPath();
                ctx.moveTo(0, i);
                ctx.lineTo(canvas.width, i);
                ctx.stroke();
            }

        }
        
        //Draw objects
        function draw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            drawGrid();
            for (let i = 0; i < playerArray.length; i++) {
                drawPlayer(playerArray[i].getX()*tileSize, playerArray[i].getY()*tileSize);
            }
        }
        var interval = setInterval(draw, 60);

        addEventListener("mouseup", (event) => {
            var rect = canvas.getBoundingClientRect();
            var x = event.clientX - rect.left + (canvas.width - parseInt(getComputedStyle(canvas).getPropertyValue("width"), 10))/2; //Sets origo in canvas corner
            var y = event.clientY - rect.top + (canvas.height - parseInt(getComputedStyle(canvas).getPropertyValue("height"), 10))/2;
            
            canvasClickX = parseInt(x/tileSize)
            canvasClickY = parseInt(y/tileSize)
          
            if(canvasClickX >= 0 && canvasClickY >= 0 && canvasClickX < canvasWidth && canvasClickY < canvasHeight){
                playerArray.push(new Position(canvasClickX, canvasClickY));
            }
        });
    });

</script>
{% endblock %}