{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block headline %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Sofisticus Gamebuilder</h1>
    <p class="lead font-weight-normal" style="font-size: large;">Welcome to Sofisticus the most magnificent game you have ever seen, where you players make beutiful levels to show of your creative sprit and obliterate your friends on your home turf</p>
    <a class="btn btn-outline-secondary" href="{{url_for('login')}}">Login now</a>
</div>
{% endblock %}

{% block content %}
<div class="d-flex w-100 my-md-3 pl-md-3">
    <div class="bg-dark flex-fill mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Create your own</h2>
            <p class="lead">Here you can create a world fun.</p>
        </div>
        <div class="bg-light box-shadow mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p style="padding-top: 20px;">Hello</p></div>
    </div>
    <div class="bg-light flex-fill mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Play with friends</h2>
            <p class="lead">Show others your creations.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto text-light" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p style="padding-top: 20px;">here you can play with friends smothly.</p></div> <!--, and show what creative things you have created. Login and search for your own level in list levels, then a friend or enemy can join your game by searching your name in list games. -->
    </div>
</div>
{% endblock %}