{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block headline %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Sofisticus Gamebuilder</h1>
    <p class="lead font-weight-normal" style="font-size: large;">Welcome to Sofisticus the most magnificent game you have ever seen, where you players make beautiful levels to show of your creative spirit and obliterate your friends on your home turf</p>
    <a class="btn btn-outline-secondary" href="{{url_for('login')}}">Login now</a>
</div>
{% endblock %}

{% block content %}
<div class="d-flex w-100 my-md-3 pl-md-3">
    <div class="bg-dark flex-fill mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Create your own</h2>
            <p class="lead">Here you can create a world fun.</p>
        </div>
        <div class="bg-light box-shadow mx-auto text-dark pr-5 pl-5" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p style="padding-top: 20px;">If you want to create your own game, login, click on build game and save your own map. The map will then show up in your profile and on list levels</p></div>
    </div>
    <div class="bg-light flex-fill mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Play with friends</h2>
            <p class="lead">Show others your creations.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto text-light pr-5 pl-5" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"><p style="padding-top: 20px;">If you want to play with others, login and click on list levels, then wait for a firend or someone else to join by clicking on the list games. Then have fun.</p></div> <!--, and show what creative things you have created. Login and search for your own level in list levels, then a friend or enemy can join your game by searching your name in list games. -->
    </div>
</div>
{% endblock %}