{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block headline %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Sofisticus Gamebuilder</h1>
    <p class="lead font-weight-normal" style="font-size: large;">Info about how to play Sofisticus Gamebuilder</p>
</div>
{% endblock %}

{% block content %}

<h2 class="mt-5 mb-5">How to play</h2>

<h3 class="mt-3 mb-4">Start and join a game</h3>
<div class="row align-items-md-stretch mt-3 mb-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Login</h2>
            <p>Byt ut bakgrundsfärgverktyget och lägg till ett `.text-*`-färgverktyg för att blanda ihop
                jumbotronutseendet. Blanda och matcha sedan med ytterligare komponentteman och mer.</p>
            <button class="btn btn-outline-light" type="button">Exempelknapp</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Lägg till kanter</h2>
            <img class="float-start" style="width: 40px; height: 100px;" src="{{url_for('static', filename='favicon_io/android-chrome-192x192.png')}}" alt="logo">
        </div>
    </div>
</div>

<div class="row align-items-md-stretch mt-3 mb-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Start game</h2>
            <p>Byt ut bakgrundsfärgverktyget och lägg till ett `.text-*`-färgverktyg för att blanda ihop
                jumbotronutseendet. Blanda och matcha sedan med ytterligare komponentteman och mer.</p>
            <button class="btn btn-outline-light" type="button">Exempelknapp</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Lägg till kanter</h2>
            <p>Eller håll det lätt och lägg till en kant för att få en extra definition av gränserna för ditt innehåll.
                Se till att titta under huven på käll-HTML här eftersom vi har justerat justeringen och storleken på
                båda kolumnernas innehåll för lika höjd.</p>
            <button class="btn btn-outline-secondary" type="button">Exempelknapp</button>
        </div>
    </div>
</div>

<div class="row align-items-md-stretch mt-3 mb-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Join game</h2>
            <p>Byt ut bakgrundsfärgverktyget och lägg till ett `.text-*`-färgverktyg för att blanda ihop
                jumbotronutseendet. Blanda och matcha sedan med ytterligare komponentteman och mer.</p>
            <button class="btn btn-outline-light" type="button">Exempelknapp</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Lägg till kanter</h2>
            <p>Eller håll det lätt och lägg till en kant för att få en extra definition av gränserna för ditt innehåll.
                Se till att titta under huven på käll-HTML här eftersom vi har justerat justeringen och storleken på
                båda kolumnernas innehåll för lika höjd.</p>
            <button class="btn btn-outline-secondary" type="button">Exempelknapp</button>
        </div>
    </div>
</div>

<h3 class="mt-3 mb-4">Build game</h3>
<div class="row align-items-md-stretch mt-3 mb-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Ändra bakgrunden</h2>
            <p>Byt ut bakgrundsfärgverktyget och lägg till ett `.text-*`-färgverktyg för att blanda ihop
                jumbotronutseendet. Blanda och matcha sedan med ytterligare komponentteman och mer.</p>
            <button class="btn btn-outline-light" type="button">Exempelknapp</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Lägg till kanter</h2>
            <p>Eller håll det lätt och lägg till en kant för att få en extra definition av gränserna för ditt innehåll.
                Se till att titta under huven på käll-HTML här eftersom vi har justerat justeringen och storleken på
                båda kolumnernas innehåll för lika höjd.</p>
            <button class="btn btn-outline-secondary" type="button">Exempelknapp</button>
        </div>
    </div>
</div>
<h3 class="mt-3 mb-4">Edit game</h3>
<div class="row align-items-md-stretch mt-3 mb-5">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Ändra bakgrunden</h2>
            <p>Byt ut bakgrundsfärgverktyget och lägg till ett `.text-*`-färgverktyg för att blanda ihop
                jumbotronutseendet. Blanda och matcha sedan med ytterligare komponentteman och mer.</p>
            <button class="btn btn-outline-light" type="button">Exempelknapp</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Lägg till kanter</h2>
            <p>Eller håll det lätt och lägg till en kant för att få en extra definition av gränserna för ditt innehåll.
                Se till att titta under huven på käll-HTML här eftersom vi har justerat justeringen och storleken på
                båda kolumnernas innehåll för lika höjd.</p>
            <button class="btn btn-outline-secondary" type="button">Exempelknapp</button>
        </div>
    </div>
{% endblock %}