{% extends 'base.html' %}

{% block title %}List games{% endblock %}

{% block headline %}Hello{% endblock %}

{% block content %}

{% for current_game in ongoing_games %}
  <div class="card game_card" id="{{ongoing_games[current_game].room_id}}">
    <div class="card-body">
      <h4>{{ongoing_games[current_game].name}} in room {{ongoing_games[current_game].room_id}}</h4>
    </div>
  </div>
{% endfor %}











<input type="hidden" value="{{username}}" id="username">
 
<input type="text" id="input_room">
<button id="button-joingame-test">Gå med spel</button>
<button id="button-leavegame-test">Lämna spel</button>

<div class="border">
  <input type="text" id="input_the_text">
  <button id="button_send_message">Skicka</button>
  <p id="the_text"></p>
</div>


{% endblock %}