{% extends 'base.html' %}

{% block title %}List games{% endblock %}

{% block headline %}Hello{% endblock %}

{% block content %}

<div class="card-deck">
      {% for level in levels %}
        <div class="card">
          <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
            <img class="card-img-top" src="static/img/jumbotron_bg.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-dark">{{level[2]}}</h5>
              <p class="card-text text-dark">{{level[4]}}</p>
              <p class="card-text text-dark"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </a>
        </div>
      {% endfor %}
</div>
{% endblock %}