{% extends 'base.html' %}

{% block title %}List games{% endblock %}

{% block headline %}Hello{% endblock %}

{% block content %}
<input type="hidden" value="{{username}}" id="username">
<div class="form-check">
    <input class="form-check-input" type="radio" name="rooms" id="radioRoom1" value="room1" checked>
    <label class="form-check-label" for="radioRoom1">
      Room 1
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rooms" id="radioRoom2" value="room2">
    <label class="form-check-label" for="radioRoom2">
      Room 2
    </label>
  </div>    

<a id="button-joingame-test" href="#">Gå med spel</a>


{% endblock %}