
{% extends 'base.html' %}

{% block title %}list levels{% endblock %}

{% block headline %}All Levels{% endblock %}

{% block content %}
<script src="{{url_for('static', filename='list_level.mjs')}}" type="module"></script>
<script src="{{url_for('static', filename='search.js')}}" defer></script>
<div class="mb-3">
  <input class="form-control" type="search" placeholder="Search for name or creator" aria-label="Search"
    id="inputsearchlevel">
</div>
<form action="{{url_for('list_levels')}}" id="sortform" method="POST">
  <div class="mb-3 row">
    <div class="col-sm-3">
      <select name="sort_level" id="sort_level" class="form-control" form="sortform">
        <option value="Popular">Popular</option>
        <option value="Least Popular">Least Popular</option>
        <option value="Newest">Newest</option>
        <option value="Oldest">Oldest</option>
      </select>
    </div>
    <button class="btn btn-outline-info my-sm-0" id="btnsortlevel" type="submit" value="Submit">Sort</button>
  </div>
</form>


<h3 style="margin-top: 40px;">User created levels</h3>
<div>
  {% for level in levels %}
  <div class="card_display" style="display: inline;">
    <div class="card d-inline-block align-top mb-4" style="width: 350px; height: 400px;">
      <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
        <canvas id="levelId{{level[0]}}"></canvas>
        <input type="hidden" value="{{level[0]}}" class="allId">
        <div class="card-body">
          <h5 class="card-title text-dark">{{level[2]}} by {% for user in user_id_name %}{% if user[0] == level[1]
            %}{{user[1]}}{%endif%}{% endfor %}</h5>
          <p class="card-text text-dark">{{level[4]}}</p>
          <p class="card-text text-dark"><small class="text-muted">Last updated {{level[5]}}</small></p>
          <p class="card-text text-dark"><small class="text-muted">Play count {{level[6]}}</small></p>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<script type="module">
  import {initializeCanvas} from "{{url_for('static', filename='list_level.mjs')}}"

  $(".allId").each(function () {
    var levelID = "levelId" + $(this).val(); //Creates level id from hidden value, example (OBS no # for Jquery) levelId2, 2 represents id in database
    //console.log($(levelID).attr('id')) //Test if id is right (OBS no #)
    initializeCanvas(levelID, $(this).val()) //Parameter htmlId = levelId2 and parameter database levelId = 2
  });
</script>
{% endblock %}