{% extends 'base.html' %}

{% block title %}titel{% endblock %}

{% block headline %}Välkommen{% endblock %}

{% block content %}
<h2>Du är inloggad</h2>
<h3>De populäraste banorna just nu</h3>
<div class="card-deck">
  {% for level in levels_play_count %}
  <div class="card">
    <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
      <img class="card-img-top" src="static/img/jumbotron_bg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-dark">{{level[2]}}</h5>
        <p class="card-text text-dark">{{level[4]}}</p>
        <p class="card-text text-dark"><small class="text-muted">Last updated {{level[5]}}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}

</div>
<br>
<h3>De nyaste banorna just nu</h3>
<div class="card-deck">

  {% for level in levels_date %}
  <div class="card">
    <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
      <img class="card-img-top" src="static/img/jumbotron_bg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-dark">{{level[2]}}</h5>
        <p class="card-text text-dark">{{level[4]}}</p>
        <p class="card-text text-dark"><small class="text-muted">Last updated {{level[5]}}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
  {% endblock %}