
{% extends 'base.html' %}

{% block title %}Memberarea{% endblock %}

{% block headline %}Welcome{% endblock %}

{% block content %}
<script src="{{url_for('static', filename='list_level_js.js')}}"></script>
<h3>Most Popular Levels</h3>
<div class="card-deck">
  {% for level in levels_play_count %}
  <div class="card">
    <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
      <canvas id="popLevelId{{level[0]}}"></canvas>
      <input type="hidden" value="{{level[0]}}" class="popId">
      <div class="card-body">
        <h5 class="card-title text-dark">{{level[2]}}</h5>
        <p class="card-text text-dark">{{level[4]}}</p>
        <p class="card-text text-dark"><small class="text-muted">Last updated {{level[5]}}</small></p>
        <p class="card-text text-dark"><small class="text-muted">Play count {{level[6]}}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<br>
<h3>Newest Levels</h3>
<div class="card-deck">
  {% for level in levels_date %}
  <div class="card">
    <a class="nav-link" href="{{url_for('play_game_create', level_id = level[0])}}">
      <canvas id="newLevelId{{level[0]}}"></canvas>
      <input type="hidden" value="{{level[0]}}" class="newId">
      <div class="card-body">
        <h5 class="card-title text-dark">{{level[2]}}</h5>
        <p class="card-text text-dark">{{level[4]}}</p>
        <p class="card-text text-dark"><small class="text-muted">Last updated {{level[5]}}</small></p>
        <p class="card-text text-dark"><small class="text-muted">Play count {{level[6]}}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<br>
<script>
  $(".newId").each(function() {
    levelID = "newLevelId" + $(this).val(); //Creates level id from hidden value, example (OBS no # for Jquery) levelId2, 2 represents id in database
    //console.log($(levelID).attr('id')) //Test if id is right (OBS no #)
    initializeCanvas(levelID, $(this).val()) //Parameter htmlId = levelId2 and parameter database levelId = 2
  });
  $(".popId").each(function() {
    levelID = "popLevelId" + $(this).val(); //Creates level id from hidden value, example (OBS no # for Jquery) levelId2, 2 represents id in database
    //console.log($(levelID).attr('id')) //Test if id is right (OBS no #)
    initializeCanvas(levelID, $(this).val()) //Parameter htmlId = levelId2 and parameter database levelId = 2
  });
</script>
{% endblock %}