<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"
        integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>
    <script>
        const start = () => {
            //if room = 1;

            //else if room = 2;
            console.log("js document.ready")

            let room_id = $("#gameid").val()
            let game = $("#gameObject").val()
            let player1 = $("#player1").val()
            let player2 = $("#player2").val()
            let my_player = $("#username").val()


            socket.emit('join', {
                room: room_id
            })
            
            console.log(room_id)
            console.log(game)
            console.log(player1)
            console.log(player2)
            console.log(my_player)


            const updatePage = () => {
                //do socket requests that request info
                //update the page based on the received info

                socket.emit('monster_move', {
                    room: room_id
                })

                socket.emit('update_canvas', {
                    room: room_id
                })
            }

            socket.on('update', (data) => {
                console.log(data)
                console.log(data.field_map)
                //update canvas based on the data received back from the server

                //Skriv här hur canvas ska se ut

                //Draw objects

                //Canvas
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                canvas.width = data.width;
                canvas.height = data.height;
                var x = canvas.width / 2;
                var y = canvas.height - 30;
                var tileSize = data.tile_size;

                //Ball
                var ballRadius = tileSize;
                var dx = 1;
                var dy = -1;

                //Wall
                var wallHeight = tileSize;
                var wallWidth = tileSize;
                var wallArray = [];

                console.log("yo")
                console.log(data.field_map[5])
                console.log("yo")
                //for in has Object.hasOwnPropery becuase other wise it will return the arrays numbers 0, 1, 2 instead of Array null, null, Player: king
                for (const colum in data.field_map) {
                    if (Object.hasOwnProperty.call(data.field_map, colum)) {
                        const element1 = data.field_map[colum];
                        for (const square in element1) {
                            if (Object.hasOwnProperty.call(element1, square)) {
                                const element2 = element1[square];
                                if (element2 != null){
                                    if (element2["type"] == "wall"){
                                        //This is what is wall
                                    }

                                }
                            }
                        }
                    }
                }

                function loadPositions(wallPosition) {
                    for (colum in data.field_map) {
                        for (square in colum) {
                            console.log(square)
                        }
                    }
                }


                console.log("hello");

                //Monster
                var monsterHeight = tileSize;
                var monsterWidth = tileSize;
                var monsterArray = [];
                //for (let index = 0; index < 100; index++) {
                //    monsterArray.push(new position((Math.floor(Math.random() * canvas.width / tileSize) * tileSize), (Math.floor(Math.random() * canvas.height / tileSize) * tileSize)));
                //}

                //Player
                var playerHeight = tileSize;
                var playerWidth = tileSize;
                var playerX = 0;
                var playerY = 0;

                //Grid
                function drawGrid() {
                    ctx.strokeStyle = '#eeeeee';
                    ctx.stroke();
                    for (var i = 0; i <= canvas.width; i += tileSize) {
                        ctx.beginPath();
                        ctx.moveTo(i, 0);
                        ctx.lineTo(i, canvas.height);
                        ctx.stroke();
                    }

                    for (var i = 0; i <= canvas.height; i += tileSize) {
                        ctx.beginPath();
                        ctx.moveTo(0, i);
                        ctx.lineTo(canvas.width, i);
                        ctx.stroke();
                    }

                }

                //Ball
                function drawBall() {
                    ctx.beginPath();
                    ctx.arc(x, y, ballRadius, 0, Math.PI * 2);
                    ctx.fillStyle = "#0095DD";
                    ctx.fill();
                    ctx.closePath();
                }

                //Wall
                function drawWall(wallX, wallY) {
                    ctx.beginPath();
                    ctx.rect(wallX, wallY, wallWidth, wallHeight,);
                    ctx.fillStyle = "#0095DD";
                    ctx.fill();
                    ctx.closePath();
                }

                //Monster
                function drawMonster(monsterX, monsterY) {
                    ctx.beginPath();
                    ctx.rect(monsterX, monsterY, monsterWidth, monsterHeight);
                    ctx.fillStyle = "#04d49d";
                    ctx.fill();
                    ctx.closePath();
                }


                //Player
                function drawPlayer() {
                    ctx.beginPath();
                    ctx.rect(playerX, playerY, playerWidth, playerHeight);
                    ctx.fillStyle = "#046cd4";
                    ctx.fill();
                    ctx.closePath();
                }



                function draw() {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    drawGrid();
                    drawBall();
                    drawPlayer();



                    //Ball movment
                    if (x + dx > canvas.width - ballRadius || x + dx < ballRadius) {
                        dx = -dx;
                    }
                    if (y + dy < ballRadius) {
                        dy = -dy;
                    }
                    else if (y + dy > canvas.height - ballRadius) {
                        if (x > playerX && x < playerX + playerWidth) {
                            dy = -dy;
                        }
                        else {
                            alert("GAME OVER");
                            document.location.reload();
                            clearInterval(interval); // Needed for Chrome to end game
                        }
                    }
                    x += dx;
                    y += dy;


                }
                var interval = setInterval(draw, 60);

            })


            //Tar in input från klienten var den vill sin spelare ska röra sig
            $("#myCanvas").on("keypress", function (e) {
                console.log("Handler for `keypress` called.");
                let my_player_id = null
                if (my_player == player1) {
                    my_player_id = 0
                }
                else if (my_player == player2) {
                    my_player_id = 1
                }
                let move = null
                if (e.key == "Right" || e.key == "ArrowRight") {
                    move = 'right'
                }
                else if (e.key == "Left" || e.key == "ArrowLeft") {
                    move = 'left';
                }
                if (e.key == "Up" || e.key == "ArrowUp") {
                    move = 'up'
                }
                else if (e.key == "Down" || e.key == "ArrowDown") {
                    move = 'down'
                }
                socket.emit('player_move', {
                    room: room_id,
                    player_id: my_player_id,
                    //info about the key pressed (for example: move: 'right')
                    move: move
                })
            });

            setInterval(updatePage, 500)

        }

        const leave = (room_id) => {
            socket.emit('leave', {
                room: room_id
            })
        }
        $("#btnleave").click(() => {
            leave()
        })
    </script>
    <h1>Player 1: {{game['players'][0]}}</h1>
    {% if game['awaiting_players'] == False %}
        <h1>Player 2: {{game['players'][1]}}</h1>
        <input type="hidden" value="{{game['room_id']}}" id="gameid">
        <input type="hidden" value="{{game}}" id="gameObject">
        <input type="hidden" value="{{game['players'][0]}}" id="player1">
        <input type="hidden" value="{{game['players'][1]}}" id="player2">
        <input type="hidden" value="{{session['username']}}" id="username">
    {% endif %}
    {% if game['awaiting_players'] == False %}
    <canvas id="myCanvas"></canvas>

    <script type="text/javascript">
        start();
    </script>
    {% else %}
    <h3>Waiting for player to join...</h3>
    {% endif %}

    <button id="btnleave">Lämna spel</button>
</body>

</html>