{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block headline %}Profile{% endblock %}

{% block content %}
<div id="info">Hello {{session['username']}}, here in your profile your game maps will be displayed. If want to edit them simply click it and edit away. Also if you want to start a game click on the list game tab and search for your name and game title</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p><strong>Username:</strong> {{user[1]}}</p>
            <p><strong>Games played:</strong> {{user[3]}}</p>
            <p><strong>Wins:</strong> {{user[4]}}</p>
            <p><strong>Losses:</strong> {{user[5]}}</p>
            <style>
                #winprog {
                    background-color: dodgerblue;
                    min-width: 0px;
                    /*width: 50%;*/
                }

                #lossprog {
                    background-color: red; 
                    min-width: 0px; 
                    /*width: 50%;*/
                }
            </style>
            <input type="hidden" value="{{user[4]}}" id="winval">
            <input type="hidden" value="{{user[5]}}" id="loseval">
            <div class="progress">
                <div class="progress-bar text-left" id="winprog">{{user[4]}} W</div>
                <div class="progress-bar text-right" id="lossprog">{{user[5]}} L</div>
            </div>
            <script>
                var win = parseInt($("#winval").val());
                var loss = parseInt($("#loseval").val());
                var games_played = win + loss;
                var winpro = Math.round(win / games_played);
                console.log(winpro)
                winpro = winpro * 100;
                var losspro = 100 - winpro;
                var stringwin = `${winpro}%`
                var stringloss = `${losspro}%`

                var winbar = document.getElementById("winprog");
                console.log("NUAR JAG HAR")
                winbar.style.width = stringwin;
                var lossbar = document.getElementById("lossprog");
                lossbar.style.width = stringloss;
                //$("#winprog").css("width", stringwin)
                //$("#lossprog").css("width", stringloss)
            </script>
        </div>
        <div class="col-sm">
            <h3>Your levels</h3>
            <div class="scrollable-div">
                {% for level in levels %}
                    <div class="card">
                        <a class="nav-link" href="{{url_for('edit_game', level_id = level[0])}}">
                            <img class="card-img-top" src="static/img/jumbotron_bg.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-dark">{{level[2]}}</h5>
                                <p class="card-text text-dark">{{level[4]}}</p>
                                <p class="card-text text-dark"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}