{% extends 'base.html' %}

{% block title %}profile{% endblock %}

{% block headline %}Profile{% endblock %}

{% block content %}
<div id="info">Hello {{session['username']}}, here in your profile your game maps will be displayed. If want to edit them simply click it and edit away. Also if you want to start a game click on the list game tab and search for your name and game title</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p><strong>Username:</strong> {{user[1]}}</p>
            <p><strong>Games played:</strong> {{user[3]}}</p>
            <p><strong>Wins:</strong> {{user[4]}}</p>
            <p><strong>Losses:</strong> {{user[5]}}</p>
            <div class="progress">
                <div class="progress-bar" id="winprog" style="background-color: dodgerblue;">{{user[4]}} W</div>
                <div class="progress-bar" id="lossprog" style="background-color: red;">{{user[5]}} L</div>
            </div>
            <script>
                var win = $("#winprog").val();
                var loss = $("#lossprog").val();
                var games_played = win + loss;
                var winpro = (win / games_played);
                winpro *= 100;
                var losspro = 100 - winpro;
                var stringwin = `${winpro}%`
                var stringloss = `${losspro}%`
                $("#winprog").css("width", stringwin)
                $("#lossprog").css("width", stringloss)
            </script>
            <!-- <div class="success progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">  
                <span class="progress-meter" style="width: 50%"> 
                    <span class="progress-meter-text">{{user[4]}} wins</span>  
                </span> 
            </div> -->
        </div>
        <div class="col-sm">
            <h3>Your levels</h3>
            <div class="scrollable-div">
                {% for level in levels %}
                    <div class="card">
                        <a class="nav-link" href="{{url_for('edit_game', level_id = level[0])}}">
                            <img class="card-img-top" src="static/img/jumbotron_bg.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-dark">{{level[2]}}</h5>
                                <p class="card-text text-dark">{{level[4]}}</p>
                                <p class="card-text text-dark"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}