{% extends 'base.html' %}

{% block navbar %}
    <!-- Man kan ändra så att div klassen ligger i base (orkar inte ändra) -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('sign_up')}}">Sign up</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block title %}
    SQL
{% endblock %}

{% block headline %}
    SQL
{% endblock %}

{% block content %}
    <p>
        <form action="{{ url_for('index') }}" method="POST">
            <div class="form-group">
            <label for="sort_name">Filtrera på följande namn:</label>
            <input type="text" class="form-control" placeholder="Namn" name="sort_name">
          </div>

          <button type="submit" class="btn btn-primary">Filtrera</button>
        </form>
    </p>
    <p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Namn</th>
          </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </p>
</div>

{% endblock %}
