.jumbotron{
    background-image: url("img/jumbotron_bg.jpg");
    background-size: cover;
    height: 600px;
}

#myCanvas{
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#player1hearts {
    border: 1px solid;
    position: absolute;
    left: 50%;
    padding: 2px;
}

#player2hearts {
    border: 1px solid;
    position: absolute;
    left: 50%;
    padding: 2px;
}

.game_card:hover {
    opacity: 0.7;
}