.jumbotron{
    background-image: url("img/AngrySofisticus.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

#myCanvas{
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#player1hearts {
    border: 1px solid;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    padding: 2px;
}

#player2hearts {
    border: 1px solid;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    padding: 2px;
}

.game_card:hover {
    opacity: 0.7;
}

/*Footer Social Links*/
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: black;
	background-color: #ffffff;
}


.scrollable-div {
    height: 500px; /* set a fixed height for the div */
    overflow-y: scroll; /* enable vertical scrollbar */
}

nav {
    position: absolute;
    top: 0;
}
  
